<!-- app.component.html -->
<div class="app-container">
  <header class="header">
    <h1>Apartment Rental App</h1>
    <nav class="nav">
      <!-- <div *ngIf="!isLoggedIn()">Login to add apartments</div> -->
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
        <li *ngIf="isLoggedIn()"><a routerLink="/add-apartment" routerLinkActive="active">Add Apartment</a></li>
        <li *ngIf="isLoggedIn()"><button (click)="logout()">Logout</button></li>
      </ul>
    </nav>
  </header>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
